<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html lang="en">
<body>

<div class="container">
        <div class='col-md-12'>
                <div class="panel-default panel">
                        <div class="panel-heading">
                                <h3> Segments for the day: {{flag}} </h3>
                                <h4>Thus far we've analyzed up to {{last_time_analyzed}}, which is approximately {{approx_time}} s</h4>
                        </div>
                        <div class="panel-body">
                                <table class="table table-striped">
                                        <thead> DQ Flag: {{ flag }} </thead>
                                        <tr>
                                                <td>Start Time</td><td> End Time </td><td>Duration</td>
                                        </tr>
                                        {% for seg in segments %}
                                        <tr>
                                                <td>{{seg[0]}}</td><td>{{seg[1]}}</td><td>{{seg[1] - seg[0]}}</td>
                                        </tr>
                                        {% endfor %}
                                </table>
                                <a class="btn btn-primary" role="button" href="./" id="results_link">Link to full results</a>
                                <a class="btn btn-success" role="button" href="/~stochastic/stamppem_docs/online_pipeline/query_online.html" id="results_link">Link to docs for querying channel data</a>
                                <a class="btn btn-success" role="button" href="/~stochastic/stamppem_docs/tutorial/QueryDatabase.html" id="results_link">Link to docs for generating this page yourself</a>
                        </div>
                </div>
        </div>
        <div class='col-md-12'>
                <div class="panel-default panel">
                        <div class="panel-heading">
                                <h3> Coherence Matrix </h3>
                        </div>
                        <div class="panel-body">
                                <a class="fancybox plot" href="./daily_full_coherence_matrix.png" data-fancybox-group="1">
                                        <img src="daily_full_coherence_matrix.png" class="img-responsive" />
                                </a>
                        </div>
                </div>
        </div>
        <div class='col-md-12'>
                <div class="panel-danger panel">
                        <div class="panel-heading">
                                <a data-toggle="collapse" href="#bruco_table" data-parent="#accordion">
                                        <h4 class="panel-title">Bruco Table</h4>
                                </a>
                        </div>
                        <div class="panel-collapse collapse" id="bruco_table">
                                <div class="panel-body">
                                        <table class="table table-striped">
                                                <tr>
                                                        <th> Frequency </th>
                                                        {%for ii in range(nchans)%}
                                                        <th> {{ii+1}} most coherent </th>
                                                        {% endfor %}
                                                </tr>
                                                {%for ii in range(nfreqs)%}
                                                <tr>
                                                        <td> {{freqs[ii]}}</td>
                                                        {%for jj in range(nchans)%}
                                                        <td bgcolor={{cohe_color(cut_coh_tab[ii,jj])}}><a style="font-family: Monaco, &quot;Courier New&quot;, monospace;" href="https://cis.ligo.org/channel/byname/{{chanmatrix[ii][jj]}}" target="_blank" title="CIS entry for {{chanmatrix[ii][jj]}}">{{chanmatrix[ii][jj]}}</a>: {{(cut_coh_tab[ii,jj] * 100000 // 1)  / 100000}}</td>
                                                        {% endfor %}
                                                </tr>
                                                {% endfor %}
                                        </table>
                                </div>
                        </div>
                </div>
        </div>
</div>
</body>


