<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html lang="en">
<head>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<base href="" />
<link media="all" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link media="all" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" type="text/css" rel="stylesheet" />
<link media="all" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
<link media="all" href="/~detchar/summary//day/{{datestrymd}}/static/bootstrap-ligo.min.css" type="text/css" rel="stylesheet" />
<link media="all" href="/~detchar/summary/day/{{datestrymd}}/static/gwsumm.min.css" type="text/css" rel="stylesheet" />
<title>STAMP-PEM</title>
<script src="//code.jquery.com/jquery-1.12.3.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js" type="text/javascript"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/~detchar/summary/day/{{datestrymd}}/static/bootstrap-ligo.min.js" type="text/javascript"></script>
<script src="/~detchar/summary/day/{{datestrymd}}/static/gwsumm.min.js" type="text/javascript"></script>
</head>
<body>
  
  <header class="navbar navbar-fixed-top navbar-all" role="banner">
    <div class="container">
      <button class="navbar-toggle" data-toggle="collapse" type="button" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <a class="navbar-brand step-back" onclick="stepDate(-1)" title="Step back">&laquo;</a>
        <a id="calendar" data-viewmode="0" title="Show/hide calendar" data-date-format="dd-mm-yyyy" data-date="{{ datestrdmy }}" class="navbar-brand dropdown-toggle">
        {{ datestrmdy }}
        <b class="caret"></b>
        </a>
        <a class="navbar-brand step-forward" onclick="stepDate(1)" title="Step forwards">&raquo;</a>
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li>
                <a href="/~detchar/summary/day/{{datestrymd}}">Detchar Page </a>
            </li>
            <li>
                <a href="../index.html">Today</a>
            </li>
            <li>
            <a href="../bruco_table.html">Bruco Table </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">Subsystems
                  <span class="caret"></span></a>
              <ul class="dropdown-menu">
              {% for subsystem in subsystems %}
                <li><a href="../{{subsystem}}.html">{{subsystem}}</a></li>
              {% endfor %}
              </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    Interactive Subsystems<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for i in range(d3links|length) %}
                    <li><a href="../D3Plots/CoherenceMatrices/{{d3links[i]}}.html">{{d3names[i]}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    Residual Plots<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for i in range(resids|length) %}
                    <li><a href="{{resids[i]}}.html">{{residslinks[i]}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">
                    Interactive Residual Plots<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for i in range(d3links|length) %}
                    <li><a href="../D3Plots/ResidualMatrices/{{d3links[i]}}.html">{{d3names[i]}}</a></li>
                    {% endfor %}
                </ul>
            </li>
          </ul>
        </nav>
    </div>
  </header>
    <div class="container">
    <h2> {{thissubsystem}} </h2>
    <h6>*Reference (start, end): ({{st}}, {{et}})</h6>
    {% for plot in plots %}
    <img src="{{plot}}.png">
    {% endfor %}
    </div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Stamp-pem v0.1 &copy; 2016.</p>
                <p>This software was created at the University of Minnesota Twin Cities</p>
                <p>by Pat Meyers and Rich Ormiston</p>
            </div>
        </div>
    </div>
</footer>
</body>
